<form>
  {{#if password}}
    <div class="form-group">
      <label for="old-password">Old Password</label>
      <input type="password" id="old-password" class="form-control" />
    </div>
  {{/if}}

  <div class="form-group">
    <label for="new-password">{{#if password}}New {{/if}}Password</label>
    <input type="password" id="new-password" class="form-control" />
  </div>

  <div class="form-group">
    <label for="new-password-again">{{#if password}}New {{/if}}Password (again)</label>
    <input type="password" id="new-password-again" class="form-control" />
  </div>

  <button type="submit" class="btn btn-default js-submit">
    {{#if password}}
      Change Password
    {{else}}
      Set Password
    {{/if}}
  </button>
</form>
