<div class="row">
  <div class="col-md-7">
    <div class="js-child-list"></div>
    <div class="js-report-list"></div>
    <div class="js-admin"></div>
  </div>

  <div class="col-md-5">
    <div class="js-goals"></div>
  </div>
</div>
