<div style="max-width: 330px; padding: 15px; margin: 0 auto;">
  <form id="form-login" role="form">
    <h2 class="form-login-heading">Please log in</h2>
    <div class="form-group">
      <input type="email" id="email" class="form-control" placeholder="Email address" />
    </div>
    <div class="form-group">
      <input type="password" id="password" class="form-control" placeholder="Password" />
    </div>
    <button class="btn btn-lg btn-default btn-block js-login" type="submit">Login</button>
  </form>
  <hr>
  <button class="btn btn-default btn-block js-register" type="submit">Register</button>
  <a href="/1/auth/google" class="btn btn-primary btn-block" style="margin-top: 15px;">Login Through Google</a>
</div>
