{{#if disabled}}
  <div class="alert alert-info">
    {{#if submitted}}
      This report has already been submitted and may no longer be changed
    {{else}}
      You do not have access to edit this report
    {{/if}}
  </div>
{{/if}}
{{! TODO - offer district officers the ability to unsubmit a report }}

<form>
  <div><fieldset {{#if disabled}}disabled{{/if}}>
    <h2>Basic Information</h2>

    <div class="form-group required">
      <label class="control-label" for="report-month">Report Month</label>

      <div id="report-month" class="input-group date js-report-month">
        <input type="text" class="form-control" value="{{dateFor}}" required />
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-th"></i>
        </span>
      </div>
      <p class="help-block">This should be the month the report is about (usually last month)</p>
    </div>

    <div class="js-basic-stats"></div>

  </fieldset></div>

  <div class="js-sections"></div>

  {{#unless disabled}}
    <hr>

    <button type="button" class="btn btn-primary js-submit-report">Submit</button>
    <button type="button" class="btn btn-default js-save-report">Save Progress</button>
  {{else}}
    {{#if __editable}}
      <hr>

      <button type="button" class="btn btn-info js-reopen-report">Reopen Report</button>
    {{/if}}
  {{/unless}}

</form>
